.btn-container {
  width: 100%;
  a {
    padding: clamp(8px, 2vw, 12px);
    padding-inline: 30px !important;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    transition: all 0.25s ease-in-out;
    span:first-child{
      color: var(--color-tertary);
    }
  }

 
}
